<%
    def options_for_district
  [
    ['Quận Ba Đình','Quận Ba Đình'],
    ['Quận Hoàn Kiếm','Quận Hoàn Kiếm'],
    ['Quận Hai Bà Trưng','Quận Hai Bà Trưng'],
    ['Quận Đống Đa','Quận Đống Đa'],
    ['Quận Tây Hồ','Quận Tây Hồ'],
    ['Quận Cầu Gíây','Quận Cầu Gíây'],
    ['Quận Thanh Xuân','Quận Thanh Xuân'],
    ['Quận Hoàng Mai','Quận Hoàng Mai'],
    ['Quận Long Biên','Quận Long Biên'],
    ['Quận Hà Đông','Quận Hà Đông'],
    ['Huyện Thanh Trì','Huyện Thanh Trì'],
    ['Huyện Gia Lâm','Huyện Gia Lâm'],
    ['Huyện Đông Anh','Huyện Đông Anh'],
    ['Huyện Sóc Sơn','Huyện Sóc Sơn'],
    ['Thị xã Sơn Tây','Thị xã Sơn Tây']
  ]
end %>
<div id="create_book_home">
  <div class="col-sm-10 well">
    <div class="alert alert-info text-center">
      THÊM KHU TRỌ MỚI
      <%= form_for @admin_home, url: admin_homes_path do |form| %>
      <% if @admin_home.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@admin_home.errors.count, t(".n_error")) %> <%= t(".n_f") %></h2>
        <ul>
          <% @admin_home.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="field">
        <%= form.label t(".n_g") %>
        <%= form.select :district, options_for_district, {}, prompt: 'Chọn quận (huyện)' %>
      </div>
      <div class="field">
        <%= form.label t(".n_a") %>
        <%= form.text_field :address,  class: 'form-control' %>
      </div>
      <div class="field">
        <%= form.label t(".n_b") %>
        <%= form.number_field :room_number,  class: 'form-control' %>
      </div>
      <%= form.hidden_field :user_id, :value => current_user.id%>
      <div class="field">
        <%= form.label t(".n_c") %>
        <%= form.number_field :room_empty,  class: 'form-control' %>
      </div>
      <div class="field">
        <%= form.label t(".n_d") %>
        <%= form.text_area :description,  class: 'form-control' %>
      </div>
      <div class="actions">
        <%= form.submit t(".n_e"), class: 'btn btn-info' %>
      </div>
      <%end%>
    </div>
  </div>
</div>
